# Never delete local env or storage symlink
!.env
!/public/storage


/vendor
/node_modules
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache
/.env
/.env.*
/.idea
/public/storage
/public
/public/hot
/public/.htaccess
.phpunit.result.cache
Homestead.yaml
npm-debug.log
yarn-error.log