# =========================================
# Laravel & Composer
# =========================================

/vendor
/node_modules
/bootstrap/cache

# =========================================
# Environment Files
# =========================================

# Never delete or commit local env or storage symlink
!.env
/.env
/.env.*
Homestead.yaml

# =========================================
# Storage (ignore all except public)
# =========================================

/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/*
/storage/logs/*
!/public/storage

# =========================================
# Public Folder
# =========================================

/public/hot
/public/storage
/public/.htaccess
/public

# =========================================
# IDE & Debug Files
# =========================================

/.idea
/.phpunit.result.cache
npm-debug.log
yarn-error.log

# =========================================
# Custom Notes
# =========================================
# Ignore all log files, including laravel.log
/storage/logs/*
